coba markdown

In [4]:
print(123123+1)

123124

In [6]:
type(1.8)

float

In [8]:
print(type(4.))

print(type(.4e7))
print(.4e7)

print(type(4.2e-4))
print(4.2e-4)

<class 'float'>
<class 'float'>
4000000.0
<class 'float'>
0.00042

In [9]:
type(.2)==float

True

In [13]:
0 == 0.

True

In [11]:
print(type(0.))
print(type(0))

<class 'float'>
<class 'int'>

In [16]:
print("hacktive8")
print(type("hacktive8"))

hacktive8
<class 'str'>

In [17]:
print('''hacktive8''')
print(type('''hacktive8'''))

hacktive8
<class 'str'>

In [19]:
print('''hacktive8'''=="hacktive8")

True

In [25]:
print(type(True))
print(type(False))
print(True)

<class 'bool'>
<class 'bool'>
True

In [29]:
print(1 == True)
print(0 == False)

True
True

In [30]:
print(10 == False)
print(10 == True)

False
False

In [32]:
print(int(9.5))
print(type(int(9.5)))
print(float(10))
print(type(float(10)))

9
<class 'int'>
10.0
<class 'float'>

In [35]:
round(number=10.9811,ndigits=2)

10.98

In [38]:
hacktive8=8
print(hacktive8)
print(type(hacktive8))

8
<class 'int'>

In [41]:
a=b=c=47.77
print(a,b,c)

47.77 47.77 47.77

In [45]:
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b) #pembagian kemudian diround
print(a%b) #modulo
print(a**b) #pangkat

30
-10
200
0.5
0
10
100000000000000000000

In [46]:
5+2*4

13

In [47]:
a = 10
b = 20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

In [51]:
#menggabungkan string menggunakan +
s = "foo"
f = "bar"
u = "bar"
print(s+f)
print(s+". " * 4)

foobar
foo. . . .

In [50]:
"mm l".join("ooo")

'omm lomm lo'

In [54]:
s="foo"
print(s in "the food for us")
print(s in "the good for us")
print(s in "the fo od for us")

True
False
False

In [57]:
s= "HackTIv8"
print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8
hacktiv8
hACKtiV8
Hacktiv8
HACKTIV8

In [60]:
#list
a=["foo","bar","bas"]
print(a)
print(type(a))
c = [1,2,3,[1,2,3,[1,2,3]]]
print(c)
print(type(c))

['foo', 'bar', 'bas']
<class 'list'>
[1, 2, 3, [1, 2, 3, [1, 2, 3]]]
<class 'list'>

In [66]:
#indexing
length_a = len(a)
length_a
print(a[2],a[1])

bas bar

In [67]:
# untuk mengambil index yang terakhir
h = [1,2,3,5,6,7,8,10]
print(h[-1])

10

In [69]:
#slice
print(h[0:5])
print(h[:5])

[1, 2, 3, 5, 6]
[1, 2, 3, 5, 6]

In [71]:
c = [1,2,3,[1,2,3,[1,2,3]]]
print(len(c))
print(c[0],c[1],c[2],c[3],sep="\n")

4
1
2
3
[1, 2, 3, [1, 2, 3]]

In [73]:
c[3][-1]
c[3][-1][-1]

3

In [77]:
pwd

'C:\\Users\\BRI\\Documents\\Rizka Python\\Pertemuan 1'

In [5]:
mylist = [1,2,3,4,5,6,7]
print(mylist[-6:-1:1]) #dibaca dari index ke -6,-5,-4,..,-1
print(mylist[-1:-6:1])
print(mylist[-1::-1])

[2, 3, 4, 5, 6]
[]
[7, 6, 5, 4, 3, 2, 1]

In [9]:
stringbaru="halo can`t'==coba'"
print(stringbaru)

halo can`t'==coba'

In [10]:
mytuple=("foo","bar","baz","quuz")
print(mytuple,type(mytuple))

('foo', 'bar', 'baz', 'quuz') <class 'tuple'>

In [11]:
mytuple[1:3]

('bar', 'baz')

In [12]:
mytuple[0]="barr"

TypeError: 'tuple' object does not support item assignment

In [13]:
mytuple[::-1]

('quuz', 'baz', 'bar', 'foo')

In [14]:
h8 = "hackativ8"
h8[::-1]

'8vitakcah'

In [16]:
h8[0]="i"

TypeError: 'str' object does not support item assignment

In [20]:
s1,s2,s3,s4=('foo','bar','bas','quux')

In [21]:
print(s1,s2,s3,s4)

foo bar bas quux

In [22]:
mytuple

('foo', 'bar', 'baz', 'quuz')

In [27]:
d1,d2,d3,d4 = mytuple
print(d1,d2)

foo bar

In [31]:
t1,t2,*t3 = mytuple
# berapa pun sisanya dimasukkan ke variabel t3
print(t1,t2,t3)
t1,*t2 = mytuple
print(t1,t2)

foo bar ['baz', 'quuz']
foo ['bar', 'baz', 'quuz']

In [33]:
t1,t2,*t3,t4,t5 = mytuple
print(t1,t2,t3,t4,t5)

foo bar [] baz quuz

In [39]:
t1,*t2, t3 = mytuple
t2 = tuple(t2)
print(t1,t2,t3,type(t1))
print(t2,type(t2))
t2 = str(t2)

foo ('bar', 'baz') quuz <class 'str'>
('bar', 'baz') <class 'tuple'>

In [40]:
## apapun tipenya bisa
MLB_team = {
    'Colorando' : 'Rockies',
    'Boston' : 'Red Sox',
    'Minnesota' : 'Twins',
    'Milwaukee' : 'Brewers',
    'Seattle' : 'Mariners'
}

In [41]:
print(MLB_team)

{'Colorando': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [58]:
elements={
    'hydrogen': 1,
    'helium' : 2,
    'carbon' : 3,
    0 : 100,
    'oxygen' : 8,
    "el" : [1,2,3,4]
}

In [54]:
print(elements)

{'hydrogen': 1, 'helium': 2, 'carbon': 3, 0: 100, 'oxygen': 8}

In [65]:
print(elements["hydrogen"])
print(elements["el"])
print(elements.get("argon","can't get find any key"))
print(elements.get("argon"))
print(elements.get("el",1))

1
[1, 2, 3, 4]
can't get find any key
None
[1, 2, 3, 4]

In [79]:
print(elements.keys()) #return list of dict's keys
print(list(elements.keys()))

print(elements.values())

print(elements.items())
print(type(elements.items()))

print(list(elements.items()))
print(type(list(elements.items())))

dict_keys(['hydrogen', 'helium', 'carbon', 0, 'oxygen', 'el'])
['hydrogen', 'helium', 'carbon', 0, 'oxygen', 'el']
dict_values([1, 2, 3, 100, 8, [1, 2, 3, 4]])
dict_items([('hydrogen', 1), ('helium', 2), ('carbon', 3), (0, 100), ('oxygen', 8), ('el', [1, 2, 3, 4])])
<class 'dict_items'>
[('hydrogen', 1), ('helium', 2), ('carbon', 3), (0, 100), ('oxygen', 8), ('el', [1, 2, 3, 4])]
<class 'list'>