In [6]:
x = 0
y = 5

if x < 5:
    print('x < 5')
print("next")
if y < x :
    print('No')
if True:
    print('Benar')
if False:
    print('Skip')

x < 5
next
Benar

In [4]:
x<5
y<x

False

In [9]:
print(bool(0))
print(bool(5))

False
True

In [11]:
if x :
    print(x!= 0)
if y :
    print(y != 0)

True

In [12]:
myList = ['foo','bar','baz','quux']

In [14]:
print('foo' in myList)
print(100 in myList)

True
False

In [16]:
book_price = 5000
magazine_price = 1000
money = 2000

if money > book_price :
    print("lets's buy the book")
elif money > magazine_price:
    print("just buy the magazine")
else:
    print("lets collect more money")

just buy the magazine

In [17]:
if "f" in "foo": print(1);print(2);print(3)

1
2
3

In [18]:
is_rain = True
destination = "beach" if not is_rain else "library"
print("let's go to", destination)

let's go to library

In [22]:
n = 5
while n > 0:
    n -= 1
    print(n)
print('stop')

4
3
2
1
0
stop

In [26]:
x = 5 
while x > 0 :
    print(x)
    x -= 1
    if x == 2:
        break
print('lopping stopped')

5
4
3
lopping stoped

In [29]:
x = 5 
while x > 0 :
    x -= 1
    if x == 2:
        continue
    print(x)
else:
    print('lopping stopped')

4
3
1
0
lopping stopped

In [31]:
n = 10
while n > 0 : n-=1;print(n)

9
8
7
6
5
4
3
2
1
0

In [1]:
n = 10
while n > 0 :
    if (n+1) % 3 ==0:
        n -= 1
        continue
    elif n % 2 == 0:
        print(n, "is even")
    else:
        print(n, "is odd and not divisible 3")
    n-=1

10 is even
9 is odd and not divisible 3
7 is odd and not divisible 3
6 is even
4 is even
3 is odd and not divisible 3
1 is odd and not divisible 3

In [2]:
a = ['foo','bar','baz']

In [4]:
for i in a:
    print(i)

foo
bar
baz

In [13]:
my_dict = {
    "satu":1,
    "dua":2,
    "tiga":3,
    "empat":4
}
print(my_dict.get("satu"))
print(my_dict)
for key,value in my_dict.items():
    print("key:",key,"value:",value)

1
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4}
key: satu value 1
key: dua value 2
key: tiga value 3
key: empat value 4

In [23]:
for value in my_dict.values():
    print("value : ", value)
for key in my_dict.keys():
    print("key:",key ,"value :",my_dict[key])

value :  1
value :  2
value :  3
value :  4
key: satu value : 1
key: dua value : 2
key: tiga value : 3
key: empat value : 4

In [7]:
key,value = list(my_dict.items())

[('satu', 1), ('dua', 2), ('tiga', 3), ('empat', 4)]

In [27]:
nested_list = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
for i,j,k in nested_list:
    print("i:",i,"j:",j,"k:",k)

i: 1 j: 2 k: 3
i: 4 j: 5 k: 6
i: 7 j: 8 k: 9

In [31]:
for i in range(1,5):
    print(i)

1
2
3
4

In [39]:
for i in range(len(nested_list)):
    for j in range(len(nested_list[i])):
        #f-string literal
        print(f"[{i},{j}] = {nested_list[i][j]}") 
        #atau
        print("[{},{}] = {}".format(i,j,nested_list[i][j]))

[0,0] = 1
[0,0] = 1
[0,1] = 2
[0,1] = 2
[0,2] = 3
[0,2] = 3
[1,0] = 4
[1,0] = 4
[1,1] = 5
[1,1] = 5
[1,2] = 6
[1,2] = 6
[2,0] = 7
[2,0] = 7
[2,1] = 8
[2,1] = 8
[2,2] = 9
[2,2] = 9